{%extends 'main.html'%}
{%block content%}
{% include 'attendance_navbar.html'%}

<div class="container-fluid text-center">
    <table class="table  table-hover">
        <thead>
          <tr>
            <th scope="col">Member id</th>
            <th scope="col">Names</th>
            <th scope="col">Expiry</th>
            <th scope="col" >Days</th>
            <th scope="col">Status </th>          
          </tr>
        </thead>
        <tbody>
        {%for member in absentees%}
          <tr  onclick="window.location='member/{{member.member.id}}/'">
            <td>{{member.member.memberId}}</td>
            <td>{{member.member}}</td>
            <td>{{member.member.expiry}}</td>
            <td class=" h5">{{member.days_count}}</td>
            <td><span class="m-1 badge bg-{{member.member.color}}">{{member.member.color_message}}</span></td>

          </tr>
        {%endfor%}
        </tbody>
      </table>
{%endblock%}
