{%extends 'main.html'%}
{%block content%}
{% include 'attendance_navbar.html'%}
<div class="container">

  <div class="row">      
    <div class="col-sm">
        <div class="card  text-center">
          <div class="card-body">
            <h5 class="card-title">Today attendance</h5>



            <table class="table">
              <tbody>
                <tr>

                  <th >Present</th>
                  <th >Absentee</th>
                  <th >To update</th>
                </tr>
                <tr>
                  <td>{{count.attendance.today_Present}}</td>
                  <td>{{count.attendance.today_absentees}}</td>
                  <td>{{count.attendance.to_update}}</td>
                </tr>

              </tbody>
            </table>
            
            <a href="/take_attendance" class="btn btn-primary">Take today attendance</a>
          </div>
        </div> 
    </div>
  </div>


  <div class="row m-3" >
    <div class="col-sm">

      <div class="card  text-center">
        <div class="card-body">
            <h5 class="card-title">Absentee</h5>
            <h3 class="card-text">Total  count 
              <span class="badge bg-warning text-dark">{{count.attendance.absentees_count}}</span>
            </h3>
            <a href="/absent_members" class="btn btn-primary">Go for absentee</a>
        </div>
      </div> 

    </div>

    <div class="col-sm">

      <div class="card  text-center">
        <div class="card-body">
          <h5 class="card-title" >Attendance list</h5>
          {%for atd in list_attendance%}
            <ol class="list-group " >
              <li class="list-group-item">{{atd.date}}</li>
            </ol>
          {%endfor%}


          <a href="/list_attendance" class="btn btn-primary">Go for List attendance</a>
      </div>
    </div> 



      </div>



  </div>


</div>







 
{%endblock%}
