{%extends 'index.html'%}
{%block content%}
{% include "admin/adminNavbar.html" %}


<div class="container">

    <div class="row">
        <div class="col">


            <form action="/add_student" method="post">

                <div class="form-floating mb-5">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Name" name="name" required>
                    <label for="floatingInput">Name </label>
                </div>

                <div class="form-floating mb-5">
                    <input type="text" class="form-control" id="floatingInput" placeholder="roll_number"
                        name="roll_number" required>
                    <label for="floatingInput">Roll Number </label>
                </div>



                <button type="submit" class="btn btn-primary">Add Student</button>
            </form>

        </div>












        <div class="col">


            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Roll number</th>
                        <th scope="col">Mark</th>
                        <th scope="col">Test</th>
                    </tr>
                </thead>
                <tbody>
                    {%for x in students_list%}
                    <tr>
                        <td><h6>{{x.name}}</h6> </td>
                        <td>{{x.roll_number}}</td>
                        <td>{{x.mark}}</td>
                        <td>
                            {% if x.test %}
                                <a href="/redo/{{x._id}}" class="btn btn-info"> Redo </a>
                            {%else%}
                                {{x.test}}
                            {%endif%}
                        </td>
                        
                    </tr>
                    {%endfor%}
                </tbody>
            </table>


        </div>

    </div>

</div>


<div class="d-flex justify-content-center">



</div>

{%endblock%}