<nav class="nav nav-pills flex-column flex-sm-row m-3">
    {%if page == "home"%}
        <a class="flex-sm-fill text-sm-center nav-link active"  href="/admin">Home</a>
        <a class="flex-sm-fill text-sm-center nav-link"  href="/add_student">Add student</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="/live">Live</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="/aptitude">Aptitude Questions</a>
        <a class="flex-sm-fill text-sm-center nav-link " href="/student_list">Students list</a>
        {%endif%}

    {%if page == "add_student"%}
        <a class="flex-sm-fill text-sm-center nav-link "  href="/admin">Home</a>
        <a class="flex-sm-fill text-sm-center nav-link active"  href="/add_student">Add student</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="/live">Live</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="/aptitude">Aptitude Questions</a>
        <a class="flex-sm-fill text-sm-center nav-link " href="/student_list">Students list</a>
        {%endif%}


    {%if page == "live"%}
        <a class="flex-sm-fill text-sm-center nav-link "  href="/admin">Home</a>
        <a class="flex-sm-fill text-sm-center nav-link "  href="/add_student">Add student</a>
        <a class="flex-sm-fill text-sm-center nav-link active" href="/live">Live</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="/aptitude">Aptitude Questions</a>
        <a class="flex-sm-fill text-sm-center nav-link " href="/student_list">Students list</a>
        {%endif%}

    {%if page == "aptitude"%}
        <a class="flex-sm-fill text-sm-center nav-link "  href="/admin">Home</a>
        <a class="flex-sm-fill text-sm-center nav-link "  href="/add_student">Add student</a>
        <a class="flex-sm-fill text-sm-center nav-link " href="/live">Live</a>
        <a class="flex-sm-fill text-sm-center nav-link active" href="/aptitude">Aptitude Questions</a>
        <a class="flex-sm-fill text-sm-center nav-link " href="/student_list">Students list</a>
        {%endif%}

    {%if page == "student_list"%}
        <a class="flex-sm-fill text-sm-center nav-link "  href="/admin">Home</a>
        <a class="flex-sm-fill text-sm-center nav-link "  href="/add_student">Add student</a>
        <a class="flex-sm-fill text-sm-center nav-link " href="/live">Live</a>
        <a class="flex-sm-fill text-sm-center nav-link " href="/aptitude">Aptitude Questions</a>
        <a class="flex-sm-fill text-sm-center nav-link active" href="/student_list">Students list</a>
    {%endif%}






</nav>
