{%extends 'main.html'%}
{%block content%}
<nav class="navbar m-1   members_attendance " >
  <div class="container-fluid">
    <h3 class="navbar " >{{page_name}}</h3>
    <div class="d-flex">
      

        
      <form class="d-flex"  method="post"  action="/history">
        {% csrf_token %}          
        <input class="form-control me-2" type="date" aria-label="Search" name="date" autocomplete="off">
        <button type="submit" class="btn btn-primary" >Search </button>              

      </form>
    </div>
  </div>
</nav>

<div class="container-fluid  text-center">
  <table class="table table-hover">
      <thead>
          <tr>
              <th scope="col">Date </th>
              <th scope="col">Event</th>
              <th scope="col">Name</th>
          </tr>
      </thead>
      <tbody>
            {%for ht in history%}
              <td>{{ht.date}}</td>
              <td>{{ht.event}}</td>
              <td>{{ht.content}}</td>
            </tr>
        
            {%endfor%}
          </tbody>
      </table>    



      <div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
          <div class="toast-body">
          Hello, world! This is a toast message.
         </div>
          <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>
</div>




















{%endblock%}
