<div class="col m-1">


  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/default/attendance.png" class="img-fluid rounded-start m-5" alt="/default/notification.png"
          style="max-width: 100px;">
      </div>

      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"> Today Attendance</h5>

          <ul class="list-group">

            <a href="{%url 'take_attendance'%}"
              class="list-group-item list-group-item-action d-flex justify-content-between">Update<span >{{count.attendance.to_update}}</span>
            </a>
            <a href="{%url 'take_attendance'%}"
              class="list-group-item list-group-item-action d-flex justify-content-between">Present<span >{{count.attendance.today_Present}}</span>
            </a>
            <a href="{%url 'take_attendance'%}"
              class="list-group-item list-group-item-action d-flex justify-content-between">  Absentee<span >{{count.attendance.today_absentees}}</span>
            </a>



          </ul>

        </div>
      </div>
    </div>
  </div>


</div>




<div class="col m-1">


  {%if count.today.total != 0 %}
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/default/notification.png" class="img-fluid rounded-start m-5" alt="/default/notification.png"
          style="max-width: 100px;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          
          {%if count.today.total_enquirys_expiry != 0 and count.today.hold != 0 %}
          
            <h5 class="card-title">Payment and Rejoin
              <span class="badge bg-success rounded-pill">{{count.today.total}}</span>
            </h5>
          
          {%elif count.today.total_enquirys_expiry != 0 %}
          
          <h5 class="card-title">Payment <span class="badge bg-success rounded-pill"> {{count.today.total_enquirys_expiry}}</span></h5>
          {%elif count.today.hold != 0  %} 
          <h5 class="card-title">Rejoin <span class="badge bg-success rounded-pill">{{count.today.hold}}</span></h5>
          
          {%endif%}


          {%if count.today.enquirys != 0 %}
          <a href="{%url 'enquirys_today'%}"
            class="list-group-item list-group-item-action d-flex justify-content-between">Enquirys to joning
            <span class="badge bg-success rounded-pill">{{count.today.enquirys}}</span>
          </a>
          {%endif%}

          {%if count.today.expiry != 0 %}
          <a href="{%url 'expiry_today'%}"
            class="list-group-item list-group-item-action d-flex justify-content-between">Expiry packages
            <span class="badge bg-success rounded-pill">{{count.today.expiry}}</span>
          </a>
          {%endif%}

          <!-- <p class="card-text"><small class="text-muted">Today payment {{count.today.total}}</small></p> -->
          {%if count.today.hold != 0 %}
          <a href="{%url 'hold_member_list'%}"
            class="list-group-item list-group-item-action d-flex justify-content-between">Rejoin
            <span class="badge bg-danger rounded-pill">{{count.today.hold}} </span>
          </a>
          {%endif%}

        </div>
      </div>
    </div>
  </div>
  {%else%}
  <div class="card mb-3 m-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/default/notification.png" class="img-fluid rounded-start m-5" alt="/default/notification.png"
          style="max-width: 100px;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card">
            காலியாக
          </h5>
        </div>
      </div>
    </div>
  </div>
  {%endif%}





</div>

