<div class="row ">
    <div class="col">
        <div class="card-body">
            <a class="card-title btn " href="{%url 'expiry_expired'%}">
                <h5> Expiry package </h5>
            </a>
            <ul class="list-group">

                <a href="{%url 'expiry_expired'%}"
                    class="list-group-item list-group-item-action d-flex justify-content-between">Expired<span>{{count.expiry.expired}}</span>
                </a>
                <a href="{%url 'expiry_reminder'%}"
                    class="list-group-item list-group-item-action d-flex justify-content-between">Reminder<span>{{count.expiry.reminder}}</span>
                </a>



            </ul>
        </div>
    </div>

    <div class="col">
        <h4>Members Information </h4>
        <img src="/default/members2.jpg" class="img-fluid rounded-start" alt="/default/members.jpg">
        <a href="{%url 'members'%}"
            class="list-group-item list-group-item-action d-flex justify-content-between">Total<span>{{count.members}}</span></a>
        <a href="{%url 'absent_members'%}"
            class="list-group-item list-group-item-action d-flex justify-content-between">Absentee<span>{{count.absentees}}</span></a>



    </div>

    <div class="col">
        <div class="card-body">
            <a class="card-title btn " href="{%url 'hold_member'%}">
                <h5> Holden {{count.hold.total}}</h5>
            </a>
            <ul class="list-group">

                <a href="{%url 'hold_member_list'%}"
                    class="list-group-item list-group-item-action d-flex justify-content-between">Expired<span>{{count.hold.expired}}</span>
                </a>
                <a href="{%url 'hold_member_list'%}"
                    class="list-group-item list-group-item-action d-flex justify-content-between">Reminder<span>{{count.hold.reminder}}</span>
                </a>



            </ul>
        </div>
    </div>
</div>