{%extends 'layout.html'%}
{%block content%}

<div class="container m-3 d-flex justify-content-center">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
         <h2>{{ message }}</h2>
        {% endfor %}
      {% endif %}
      {% endwith %}
  </div>
  


<div class="d-flex justify-content-center">
    
    <form     style="width:250px;"    method="post"   action="{{url_for('login')}}" >
        <div class="mb-3">
            <!-- <label for="exampleInputusername1" class="form-label" >Username</label> -->
            <input type="username" class="form-control" id="exampleInputusername1" aria-describedby="usernameHelp"
            name="username" value="venom" required  >
            <div id="usernameHelp" class="form-text">We'll never share your username with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label" >Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password" value="1" required>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>



    
    

{%endblock%}