{%extends 'main.html'%}
{%block content%}
{% include 'attendance_navbar.html'%}

<nav class="navbar m-1   members_attendance " >
    <h1></h1>
    <div class="d-flex">

        
        <div class="container-fluid">
            <div class="d-flex">
                <form class="d-flex"  method="post"  action="/list_attendance">
                    {% csrf_token %}          
                    <input class="form-control me-2" type="date" placeholder="Name or Number" aria-label="Search" name="date" autocomplete="off">
                    <button type="submit" class="btn btn-primary" >Search </button>               
                </form>
            </div>
        </div>
    </div>
  </nav>


<div class="container-fluid text-center">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Dates</th>
                <th scope="col">Presented</th>
                <th scope="col">Absentees</th>
            </tr>
        </thead>
        <tbody>
                {%for attendance in attendance_list%}
                

                    <tr onclick="window.location='view_attendance_day/{{attendance.id}}/'" > 
                        <td>{{attendance.date}}</td>
                        <td>{{attendance.presented}}</td>
                        <td>{{attendance.absentees}}</td>
                    </tr>
                
                    {%endfor%}
            </tbody>
        </table>    
</div>
{%endblock%}
