{%extends 'main.html'%}
{%block content%}



<nav class="navbar m-1   members_attendance ">

  <div class="container-fluid">
    <h3 class="navbar ">{{page_name}}</h3>
    <div class="d-flex">

      {%if page_type == "previous"%}
      <form class="m-1" action="/achievement" method="get">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-primary">This Month list</button>
      </form>
      {%else%}
      <form class="m-1" action="/achievement" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-primary"> Previous month list</button>
      </form>

      {%endif%}

    </div>
  </div>
</nav>


<style>

</style>

<div class="container text-center">


  <table class="table table-hover">
    <thead>
      <tr>
        <th>No</th>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Member Id</th>
        <th scope="col">Expiry date</th>
        <th scope="col">Days </th>
        <th scope="col">Status </th>
      </tr>
    </thead>

    <tbody>
      {%for member in members%}
      <tr onclick="window.location='member/{{member.member.id}}/'">
        <td>{{member.counting}}</td>
        <td><img src="{{member.member.image.url}}" id="members_img" alt="{{member.member.image.url}}"
            style="width:40px;height: 30px;">
        <td>{{member.member.name}}</td>
        <td>{{member.member.memberId}}</td>
        <td>{{member.member.expiry}}</td>
        <td class="text-dark h5">{{member.count}}</td>
        <td><span class="m-1 badge bg-{{member.member.color}}">{{member.member.color_message}}</span></td>

      </tr>

      {%endfor%}
    </tbody>
  </table>




</div>








{%endblock%}