{%extends 'main.html'%}
{%block content%}
{% include 'members_navbar.html'%}
<style>
  .cropped {
    width: 800px; /* width of container */
    height: 800px; /* height of container */
     /* border: 5px solid black; */
     object-fit: cover;
     object-position: 30% 1%; /* try 20px 10px */ 
    }
     
</style>
<div class="container">

  <div class="row text-center">

    <div class="col-10">

      <table class="table table-hover">
        <thead>
          <tr>
          <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Member Id</th>
            <th scope="col">Mobile number </th>
            <th scope="col">Expiry date</th>
            <th scope="col">Status </th>
          </tr>
        </thead>
        <tbody>
          {%for member in members%} 
          <tr onclick="window.location='member/{{member.id}}/'">
            <td>
              <img src="{{member.image.url}}"  id="members_img"    class="cropped"    alt="{{member.image.url}}"  style="width:40px;height: 30px;">
          
            </td>          
            
            
            <td>{{member.name}}</td>
            <td>{{member.memberId}}</td>
            <td>{{member.number}}</td>
            <td>{{member.expiry}}</td>
            <td><span class="m-1 badge bg-{{member.color}}">{{member.color_message}}</span></td>
          </tr>

          {%endfor%}
        </tbody>
      </table>
    </div>


    <div class="col">



      <nav class="navbar d-flex justify-content-center">


        <ul class="nav nav-pills nav-justified navbar-nav ">
          {%if page_name == "Today expiry members" %}
          <li class="nav-item  m-2">
            <a class="btn btn-outline-primary active " aria-current="page" href="expiry_today"  accesskey="/"> Today
              <span class="badge rounded-pill bg-danger">{{count.expiry.today}}</span>

            </a>  
          </li>
          {%else%}
          <li class="nav-item  m-2">
            <a class="btn btn-outline-primary " href="expiry_today" accesskey="/"> Today
              <span class="badge rounded-pill bg-danger">{{count.expiry.today}}</span>

            </a>
          </li>
          {%endif%}


          {%if page_name == "Expired members" %}
          <li class="nav-item  m-2">
            <a class="btn btn-outline-primary active " aria-current="page" href="expiry_expired" accesskey="*"> Expired 
              <span class="badge rounded-pill bg-danger">{{count.expiry.expired}}</span>

            </a>
          </li>
          {%else%}
          <li class="nav-item  m-2">
            <a class="btn btn-outline-primary " href="expiry_expired" accesskey="*"> Expired 
              <span class="badge rounded-pill bg-danger">{{count.expiry.expired}}</span>

            </a>
          </li>
          {%endif%}


          {%if page_name == "Reminder members in two days" %}
          <li class="nav-item  m-2">
            <a class="btn btn-outline-primary active m-2" aria-current="page" href="expiry_reminder" accesskey="-"> Reminder 
              <span class="badge rounded-pill bg-danger">{{count.expiry.reminder}}</span>

            </a>
          </li>
          {%else%}
          <li class="nav-item  m-2">
            <a class="btn btn-outline-primary " href="expiry_reminder" accesskey="-"> Reminder 
              <span class="badge rounded-pill bg-danger">{{count.expiry.reminder}}</span>

            </a>
          </li>
          {%endif%}


        </ul>
      </nav>




    </div>

  </div>
</div>






{%endblock%}