{%extends 'main.html'%}
{%block content%}
{% include 'members_navbar.html'%}

<div class="card mb-3 center">
  <div class="row g-0">
    <div class="col-md-4">
      <p class="card-text m-1"><small class="text-muted">Joined in {{member.joined}}</small></p>

      <img src="{{member.image.url}}" class="img-fluid rounded-start p-3" alt="">
    </div>
    <div class="col-md-8">
      <div class="card-body">

        <!-- <h5 class="card-title">{{member.name}}</h5> -->
        <p class="card-text">
        <ul class="list-group">
          {%if member.hold%}
          <div class="row m-3">
            <div class="col">
              <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center text-danger">
                  Rejoin date
                  <h3>{{member.hold_date}}</h3>
                </li>
              </ul>

            </div>
            <div class="col">
              <ul class="list-group">


                <li class="list-group-item d-flex justify-content-between align-items-center text-danger">
                  Reason
                  <h3>{{member.hold_reason}}</h3>
                </li>
              </ul>
            </div>

          </div>



          {%endif%}
          <li class="list-group-item d-flex justify-content-between align-items-center ">
            Number
            <h3>{{member.number}}</h3>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Member Id
            <h4>{{member.memberId}}</h4>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center ">

            Expiry
            <h4>{{member.expiry}}</h4>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Shift type
            <h4>{{member.shift_type}}</h4>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Status
            <span class="m-1 badge bg-{{member.color}}">{{member.color_message}}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Message
            <h6 class="m-1">{{member.message}}</h6>
          </li>


        </ul>
        </p>
        <div class="d-flex justify-content-center ">

          <button type="button" class="btn  m-4" data-bs-toggle="modal" data-bs-target="#hold">
            <!-- hold -->
            <div class="form-check form-switch">
              {%if member.hold%}
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckCheckedDisabled" checked
                disabled>
              {%else%}
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckCheckedDisabled"
                disabled>
              {%endif%}
              <label class="form-check-label" for="flexSwitchCheckCheckedDisabled">hold {{member.hold_date}}</label>
            </div>
          </button>


          <button type="button" class="btn btn-success m-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Update package
          </button>

          <form class="m-4" method="post" action="/edit_member">
            {% csrf_token %}
            <input class="form-control me-2" id="hide_element" type="search" placeholder="Members" aria-label="Search"
              value="{{member.id}}" name="id">

            <button type="submit" class="btn btn-primary">Edit</button>
          </form>
        </div>

      </div>










    </div>
  </div>
</div>
</div>





<!-- Button trigger modal -->


<!-- Modal -->


<div class="modal  fade" id="hold" tabindex="-1" aria-labelledby="holdLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Set hold</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex justify-content-center">



        <form class="row g-3" method="post" action="/hold_member">
          {% csrf_token %}
          <input id="hold_element" placeholder="Members" aria-label="Search" value="{{member.id}}" name="id">

          <div class="form-check form-switch  ">

            {%if member.hold%}
            <label class="form-check-label " for="flexSwitchCheckDefault">Unhold {{member.name}}</label>
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckCheckedDisabled" checked
              name="hold" value="False">
            {%else%}
            <label class="form-check-label " for="flexSwitchCheckDefault">hold {{member.name}}</label>

            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckCheckedDisabled"
              name="hold" value="True">
            {%endif%}


          </div>

          {%if not member.hold%}

          <div class="col-auto">
            <input type="date" class="form-control" id="inputPassword2" name="date" value="Unknown">
            <label for="name">Tell date</label>
          </div>


          <div class="form-floating">
            <input type="text" class="form-control " id="name" placeholder="Reason" name="reason" autocomplete="off"
              value="Unknown">
            <label for="name">Reason</label>
          </div>
          {%endif%}

          <button type="submit" class="btn btn-primary mb-3">Update </button>


        </form>




      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>






<!-- package -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update package</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">



        <form class="row g-3" method="post" action="/update_package">
          {% csrf_token %}

          <input id="update_package_element" placeholder="Members" aria-label="Search" value="{{member.id}}" name="id">

          <div class="col-auto">
            <label for="date" class="visually-hidden">Date</label>
            <input type="date" class="form-control" id="inputPassword2" name="date" required>
          </div>

          <div class="col-auto">
            <label for="inputPassword2" class="visually-hidden">Password</label>
            <input type="password" class="form-control" id="inputPassword2" placeholder="Password" name="password"
              required>
          </div>


          <br>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Update </button>
          </div>
        </form>




      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>






<script>
  document.getElementById("hide_element").style.display = "none";
  document.getElementById("hold_element").style.display = "none";
  document.getElementById("update_package_element").style.display = "none";
</script>
{%endblock%}