{%extends 'index.html'%}
{%block content%}


<div class="d-flex justify-content-center container">
    <div class="card" style="width: 30rem;">
        <img src="https://i.ytimg.com/vi/M13bn7LG3EM/maxresdefault.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Vels Aptitude Test</h5>
            <p class="card-text">Quantitative Aptitude Questions and Answers contains concepts and test papers on many topics such as average, numbers, compound interests, partnership, problem on ages, calendar, boats and streams, clock, height and distance, percentage, pipes and cisterns, profit and loss, speed, time and distance, simple interest, problem on trains, time and work, etc.</p>

            <div class="d-flex justify-content-center">


                <form action="/" class="d-flex justify-content-center" method="post">


                    <input type="text" id="inputPassword6" class="form-control" name="roll_name" value="1"
                        autocomplete="off" aria-describedby="passwordHelpInline" required placeholder="Roll number">


                    <button type="submit" style="width: 50%;" class="btn btn-primary m-2">Take </button>
                </form>

            </div>



        </div>
    </div>
</div>






{%endblock%}