{%extends 'main.html'%}
{%block content%}


<nav class="navbar m-1   members_attendance " >
    <div class="container-fluid">
      <h3 class="navbar " >{{page_name}}</h3>
      <div class="d-flex">
        <ul class="nav nav-pills nav-fill">
          <li class="nav-item m-1">
            {%if page_name == "Enrolled date"%}      
            <a class="nav-link active" href="/enquirys_date_search">Date search</a>
            {%else%}
            <a class="nav-link" href="/enquirys_date_search">Date search</a>
            {%endif%}
          </li>
        </ul>
          
        <form class="d-flex m-1"   method="post"  action="/enquirys_date_search">
          {% csrf_token %}          
          <input class="form-control me-2" type="date" aria-label="Search" name="date" autocomplete="off">
          <button type="submit" class="btn btn-primary" >Search </button>              
  
        </form>
   
      </div>
    </div>
  </nav>


  <script>
    document.getElementById("today_hold_element").style.display = "none";
    document.getElementById("Expired_hold_element").style.display = "none";
    document.getElementById("Reminder_hold_element").style.display = "none";
    document.getElementById("Reminder_hold_element_date").style.display = "none";
</script>






<div class="container  ">


  <table class="table table-hover text-center">
    <thead>
      <tr>
        <th>Enrolled in</th>
        <th>Name</th>
        <th>Contact Number</th>
        <th>Joining Date</th>
        <th>Enquiry type</th>
        <th>Message</th>
      </tr>
    </thead>
    <tbody>
      
      {%for enquiry in enquirys %}
      <tr data-bs-toggle="modal" data-bs-target="#staticBackdrop" 
      onclick="showname('{{enquiry.id}}','{{enquiry.name}}' ,'{{enquiry.message}}','{{enquiry.number}}')">
      <td>{{enquiry.When}} at {{enquiry.timming}}</td>  
      <td>{{enquiry.name}}</td>
      <td>{{enquiry.number}}</td>
      <td>{{enquiry.joining_date}}</td>
      <td>{{enquiry.visit_type}}</td>
      <td>{{enquiry.small_message}}</td>
    </tr>
    {%endfor%}
    
  </tbody>
</table>



<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <div class="modal-body">
        <table>
          <tr>
            <td>
              <small class="m-2">	Contact Number </small>
            </td>
            <td>
              <h3 id="staticBackdropLabel_number">
              </td>
            </tr>
          </table>
        </h3>
        <h6 class="modal-title" id="staticBackdropLabel_message"></h6>
      </div>
      <div class="modal-footer">
        <!-- <a href='delete_enquiry/'   window.member_id class="btn btn-danger" data-bs-dismiss="modal" >Delete</a> -->
        <a href='delete_enquiry/'   onclick="location.href=this.href+var_id+'/';" class="btn btn-danger" data-bs-dismiss="modal" >Delete</a>
        <a href="add_member/"   onclick="location.href=this.href+var_id+'/';" class="btn btn-success" data-bs-dismiss="modal" >Add member</a>
        <!-- <a onclick="location.href=this.href+var_id+'/';" href="{% url 'add_member' %}" class="btn btn-success" data-bs-dismiss="modal" >Add member</a> -->
        <!-- <button type="button"  class="btn btn-success">Add member</button> -->
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
      </div>
    </div>
  </div>
</div>


</div>
{%endblock%}
