<style>
  .navbar_main {
    border-radius: 5px;
  }

  .nvabar_a:hover {

    font-size: 20px;
    font-weight: 650;
  }

  #head_nvabar {
    color: red;
    font-size: 20px;
    font-weight: 650;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .main_nvabar_dropdown {
    color: red;

  }

  .main_nvabar_dropdown:hover {
    color: red;

  }

  #search_nvaber {
    color: red;
  }
</style>


<nav class="navbar m-1  bg-dark  navbar_main ">

  <div class="container-fluid ">
    
    <a class="btn" href="/" id="head_nvabar" accesskey="0">
      <!-- <img src="/default/logo.png" alt="logo.png" width="45" height="35"> -->
      VELS FITNES
    </a>

    
    


    <div class="d-flex">

      {%if count.today.total != 0  %}

      <div class=" dropend dropstart " >
    
    
         <button type="button"  type="button" class="btn position-relative mx-auto" dropdown-toggle " data-bs-toggle="dropdown" aria-expanded="false">
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
            {{count.today.total}}
            <span class="visually-hidden">unread messages</span>
          </span>
          <img src="/default/notification.png" alt="/default/notification.png" style="max-width: 28px;"> 
        </button>
    
        <ul class="dropdown-menu">
          <li class="nav-item     ">
    
    
            {%if count.today.enquirys != 0  %}
            <a href="{%url 'enquirys_today'%}"class="dropdown-item     d-flex justify-content-between d-flex justify-content-between">
               Enquirys
              <span class="badge bg-success text-end rounded-pill">{{count.today.enquirys}}</span>
            </a>
            {%endif%}
          </li>
          <li class="nav-item     ">
    
    
            {%if count.today.expiry != 0  %}
            <a href="{%url 'expiry_today'%}"
              class="dropdown-item     d-flex justify-content-between ">Expiry
              <span class="badge bg-success rounded-pill">{{count.today.expiry}}</span>
            </a>
            {%endif%}
          </li>
    
          <li class="nav-item     ">
    
    
            {%if count.today.hold != 0 %}
            <a href="{%url 'hold_member_list'%}"
              class="dropdown-item     d-flex justify-content-between ">Rejoing
              <span class="badge bg-danger rounded-pill">{{count.today.hold}}</span>
            </a>
            {%endif%} 
          </li>
    
    
    
        </ul>
      </div>
      {%endif%} 

      <form class="d-flex" method="post" action="/members">
        {% csrf_token %}
        <input class="form-control me-2" accesskey="`" type="search" placeholder="Members" aria-label="Search"
          name="queries" autocomplete="off">
        <!-- <button type="submit" class="btn bg-info" id="search_nvaber" >Search </button>               -->

      </form>

    </div>
  </div>
</nav>