{%extends 'index.html'%}
{%block content%}


<div class="d-flex justify-content-center container">
    <div class="card" style="width: 30rem;">
        <img src="https://i.ytimg.com/vi/M13bn7LG3EM/maxresdefault.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Vels Aptitude Test</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>

            <div class="d-flex justify-content-center">


                <form action="/" method="post">

                    <div class="row g-3 align-items-center">
                        <!-- <div class="col-auto">
                                <label for="inputPassword6" class="col-form-label">LOGIN NUMBER</label>
                            </div> -->
                        <div class="col-auto ">

                            <input type="text" id="inputPassword6" class="form-control" name="roll_name" value="1" autocomplete="off"
                                aria-describedby="passwordHelpInline" required placeholder="Roll number">
                        </div>


                        <div class="">
                            <button type="submit" style="width: 50%;" class="btn btn-primary m-2">Take </button>
                        </div>

                    </div>
                </form>

            </div>



        </div>
    </div>
</div>






{%endblock%}