<style>
  .members_attendance {
    border-radius: 15px;
  }
</style>

<nav class="navbar m-1   members_attendance ">
  <div class="container-fluid">
    <h3 class="navbar ">{{page_name}}

    </h3>
    <div class="d-flex">

      <ul class="nav nav-pills nav-fill h6">

        {%if page_name == "Members"%}
        <li class="nav-item  m-2">
          <a class=" btn btn-outline-primary active" aria-current="page" href="/members">Members 
            <span class="badge rounded-pill bg-secondary">{{count.members}}</span>
          </a>
        </li>
        {%else%}
        <li class="nav-item  m-2">
          <a class=" btn btn-outline-primary" href="/members">Members
            <span class="badge rounded-pill bg-secondary">{{count.members}}</span>
          </a>

        </li>
        {%endif%}

        {%if page_name == "All holden members" or  page_name == "Reminder holden members" or  page_name == "Expired holden members" or  page_name == "Rejoing today members" %}
        <li class="nav-item  m-2">
          <a class=" btn btn-outline-primary active" aria-current="page" href="/hold_member"> Holden 
            <span class="badge rounded-pill bg-secondary">{{count.hold.total}}</span>
          </a>
        </li>
        {%else%}
        <li class="nav-item  m-2">
          <a class=" btn btn-outline-primary" href="/hold_member">Holden
            <span class="badge rounded-pill bg-secondary">{{count.hold.total}}</span>

          </a>
        </li>
        {%endif%}


        {%if page_name == "Expiry all" or page_name == "Today expiry members" or page_name == "Expired members" or page_name == "Reminder members in two days" %}
        <li class="nav-item  m-2">
          <a class=" nav-link active" aria-current="page" href="/expiry_members">Expiry

          </a>
        </li>
        
        {%else%}
        <li class="nav-item  m-2">
          <a class=" nav-link" href="/expiry_members">Expiry
          </a>
        </li>
        {%endif%}


        



      </ul>



    </div>
  </div>
</nav>








<!-- <a class="navbar-brand " href="/hold_member">Holden </a>
<a class="navbar-brand " href="/expiry_members">Expiry</a> -->



<!-- 
  <div class="container m-2">
    <div class="row">
        
      <div class="col">
        <h4 class="navbar" >{{page_name}}</h4>
      </div>

      <div class="col">            
        <a class="navbar-brand " href="/members">Members</a>
        <a class="navbar-brand " href="/admin/administrator/member/add/">Add</a>
        <a class="navbar-brand " href="/expiry_members">Expiry </a>
      </div>
    
    </div>
  </div> -->

<!-- 
  <style>
    .navbar_attendance{
      border-radius: 5px;
    }
  
  </style> -->