<style>
  .vertical_ul {
    list-style-type: none;
    background-color: #b9b9b9;
  }

  .vertical_li .vertical_a {
    border-radius: 5px;
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }

  /* Change the link color on hover */
  li .vertical_a:hover {
    background-color: #555;
    color: white;
    font-size: 15px;
    font-weight: 500;

  }
</style>
<div class="container-sm ">



  <!-- Default dropend button -->




  <ul class="nav    vertical_lu">

    <li class="nav-item     vertical_li">
      <a class="nav-link    vertical_a " href="/add_enquiry" accesskey="1">Add enquiry </a>
    </li>

    <li class="nav-item     vertical_li ">
      <a class="nav-link    vertical_a  active" href="/enquirys"  accesskey="2">Enquirys </a>
    </li>
    <li class="nav-item     vertical_li">
      <a class="nav-link    vertical_a" href="/take_attendance" accesskey="q">Take attendance</a>
    </li>

    <li class="nav-item     vertical_li">
      <a class="nav-link    vertical_a " href="/members" accesskey="4">Members </a>
    </li>


    <li class="nav-item     vertical_li">
      <a class="nav-link    vertical_a" href="/add_member" accesskey="3">Add member</a>
    </li>

    <li class="nav-item     vertical_li">
      <a class="nav-link    vertical_a" href="/absent_members" accesskey="a">Absent members</a>
    </li>


    <li class="nav-item     vertical_li">
      <a class="nav-link    vertical_a" href="/expiry_expired" accesskey="x">Expired members</a>
    </li>

    <li class="nav-item     vertical_li">
      <a class="nav-link    vertical_a" href="/attendance_home" accesskey="5">Attendance</a>
    </li>

    <li class="nav-item     vertical_li">
      <a class="nav-link    vertical_a" href="/achievement" accesskey="c">Achievement</a>
    </li>

    <li class="nav-item     vertical_li">
      <a class="nav-link    vertical_a" href="/notes" accesskey="n">Notes</a>
    </li>

    <li class="nav-item     vertical_li">
      <a class="nav-link    vertical_a" href="/hold_member" accesskey="h">Holden members</a>
    </li>  

    <li class="nav-item     vertical_li">
      <a class="nav-link    vertical_a" accesske="d" href="/admin/">Admin</a>
    </li>



    <li class="nav-item     vertical_li">
      <a class="nav-link    vertical_a" href="/member_login" accesskey="l">Members login</a>
    </li>


    <li class="nav-item     vertical_li">
      <a class="nav-link    vertical_a" href="/history" accesskey="i">History</a>
    </li>


    <li class="nav-item     vertical_li">
      <a class="nav-link    vertical_a" href="/fees" accesskey="s">Fee structure</a>
    </li>

    <li class="nav-item     vertical_li">


      <div class="dropdown">
        <button class="btn  dropdown-toggle  vertical_a" type="button"  accesskey="m" id="dropdownMenu2" data-bs-toggle="dropdown"
          aria-expanded="false">
          Make payment
        </button>
        <ul class="dropdown-menu " aria-labelledby="dropdownMenu2">
          <a class="nav-link dropdown-item   vertical_a" href="/payment" accesskey="p">Phonepe</a>
          <a class="nav-link dropdown-item   vertical_a" href="/payment" accesskey="u">UPI</a>

        </ul>
      </div>
    </li>

  </ul>



</div>

