{%extends 'main.html'%} {%block content%} {% include 'enquirys_navbar.html'%}



<div class="container  ">

    <table class="table table-hover text-center">
        <thead>
            <tr>
                <th>Enrolled in</th>
                <th>Name</th>
                <th>Contact Number</th>
                <th>Joining Date</th>
                <th>Enquiry type</th>
                <th>Message</th>
            </tr>
        </thead>

        <tbody>
            {%for enquiry in enquirys %}
            <tr onclick="showname('{{enquiry.id}}','{{enquiry.name}}' ,'{{enquiry.message}}','{{enquiry.number}}','{{enquiry.joining_date}}','{{enquiry.visit_type}}','{{enquiry.When}} at {{enquiry.timming}}')"
                data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                <td>{{enquiry.When}} at {{enquiry.timming}}</td>
                <td>{{enquiry.name}}</td>
                <td>{{enquiry.number}}</td>
                <td>{{enquiry.joining_date}}</td>
                <td>{{enquiry.visit_type}}</td>
                <td>{{enquiry.small_message}}</td>
            </tr>
            {%endfor%}

        </tbody>
    </table>
</div>
</div>


<script>
    var var_id = 1

    function showname(id, name, message, number, joining_date, enquiry_type, enrolled) {
        var_id = id
        document.getElementById("staticBackdropLabel").innerHTML = name
        document.getElementById("staticBackdropLabel_message").innerHTML = message
        document.getElementById("staticBackdropLabel_number").innerHTML = number

        document.getElementById("enrolled").innerHTML = enrolled
        document.getElementById("enquiry_type").innerHTML = enquiry_type

        document.getElementById("seting_date").innerHTML = joining_date
        document.getElementById("update_package_element").value = var_id
    }
</script>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">

                <h5 class="modal-title" id="staticBackdropLabel">no data</h5>
                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">hi</button> -->
            </div>

            <div class="modal-body">


                <div class="row">
                    <div class="col">
                        <small class="m-2"> Contact Number </small>
                    </div>
                    <div class="col">
                        <h3 id="staticBackdropLabel_number"></h3>
                    </div>
                </div>




                <div class="row">
                    <div class="col">
                        <small class="m-2"> Enrolled by <small id="enquiry_type" class="text-danger">call</small> on
                        </small>
                    </div>
                    <div class="col">
                        <h6 id="enrolled">no data</h6>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <small class="m-2"> Joining Date </small>
                    </div>
                    <div class="col">
                        <h6 id="seting_date">no data</h6>
                    </div>
                </div>


                <h6 class="m-3 " id="staticBackdropLabel_message"></h6>

                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                       
                        <form method="post" class="row " action="/update_enquiry">
                            
                            <div class="row " >
                                <div class="col " >
                                {% csrf_token %}
        
                                <input id="update_package_element" placeholder="Members" aria-label="Search" name="id">
                                <div class="col-auto">
                                    <label for="date" class="visually-hidden">Date</label>
                                    <input type="date" class="form-control" id="inputPassword2" name="date" required>
                                </div>
        
                            </div>
        
                            <div class="col ">
                                <button type="submit" class="btn bg-info">Update date </button>
                            </div>
        
                        </form>



                    </div>
                </div>







            </div>

            <div class="modal-footer d-flex justify-content-center">
                <!-- Button trigger modal -->
                <a href='delete_enquiry/' onclick="location.href=this.href+var_id+'/';" class="btn btn-danger"
                    data-bs-dismiss="modal">Delete</a>
                <a href="add_member/" onclick="location.href=this.href+var_id+'/';" class="btn btn-success"
                    data-bs-dismiss="modal">Add member</a>
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button"
                    aria-expanded="false" aria-controls="collapseExample">
                    Change date 
                </a>
                <!-- <a href='/admin/administrator/enquirys/' onclick="location.href=this.href+var_id+'/change/';" class="btn btn-primary" data-bs-dismiss="modal">Edit</a> -->
            </div>
        </div>
    </div>
</div>








<!-- Modal 2 -->

<script>
    document.getElementById("update_package_element").style.display = "none";
</script>
{%endblock%}